*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    font-family: 'Roboto';
}

.sidebar {
    background-color: rgb(25,146,212);
    height: 100vh;
    padding: 1.5em;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.29);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.29);
    z-index: 2;
}

.tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: min-content;
    cursor: pointer;
}

.sidebar-logo .tab{
    gap: 10px;
}

.sidebar-main-tabs .tab, .sidebar-secondary-tabs .tab {
    gap: 15px;
}

.sidebar-dashboard-tab {
    font-size: 1.7em;
    color: white;
    font-weight: bold;
}

.sidebar-main-tabs, .sidebar-secondary-tabs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 0.5em;
    padding-top: 3em;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
}

.tabs-icon {
    width: 1.8em;
}

.main-content {
    display: grid;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

.header {
    padding: 0 2.5em 1.5em;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.29);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.29);
    z-index: 1;
}

.search-icon, .notification-icon {
    width: 25px;
}

.header-input {
    border: none;
    background-color: #E2E8F0;
    font-size: 1em;
    padding: 0.5em;
    border-radius: 15px;
    width: 40vw;
}

.body-content {
    background-color: #E2E8F0;
}

.search-input-profile-notification, .greeting-button-bar {
    padding-top: 1.1em;
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 2em;
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.3em;
}

.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: flex-end;
    gap: 2em;
}

.profile-picture {
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.29);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.29);
}

.profile-picture-small {
    width: 50px;
}

.profile-name-small {
    font-weight: bold;
    font-size: 1.1em;
}

.profile-picture-big {
    width: 65px;
}

.greeting-box {
    font-weight: bold;
}

.hi-message {
    font-size: 0.8em;
    margin-bottom: 0.4em;
}

.greeting-name {
    font-size: 1.3em;
}

.header-button {
    background-color: #1992D4;
    color: white;
    border-width: 0;
    padding: 1em 2.5em;
    border-radius: 10cm;
    font-size: 0.95em;
    font-weight: bold;
    cursor: pointer;
}

.body-content {
    display: grid;
    grid-template-columns: 7.5fr 2.5fr;
    padding: 2em 1.5em;
}

.body-title {
    font-weight: bold;
    padding-bottom: 0.8em;
    font-size: 1.2em;
}

.announcement-contents {
    background-color: white;
    padding: 1.5em 2em;
    margin-bottom: 2em;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.29);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.29);
}

.announcement-card {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    padding: 1em 0 1em;
}

.announcement-title {
    font-weight: bold;
}

.announcement-desc {
    font-size: 0.9em;
    color: #636363;
}